body{
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 3000px;
}

header{
  display: flex;
  height: 55px;
  flex-direction: row;
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  justify-content: space-between;
  background-color: white;
  z-index: 100;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-left{
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: left;
}

.icon-fb{
 width: 40px;
 margin-left: 15px;
 margin-right: 20px;
}

.icon-fb:hover{
  cursor: pointer;
}

.icon-search{
  background-color: rgb(240, 237, 237);
  padding: 5px;
  border-radius: 20px;
  z-index: 2;
  color:rgb(126, 126, 126);
  font-size: 13px;
}

.search-bar{
  background-color: rgb(240, 237, 237);
  margin-left: -35px;
  padding: 12px;
  padding-left: 35px;
  border-width: 0;
  border-radius: 20px;
  width: 180px;
  font-size: 14px;
}

.search-bar:focus {
  border-width: 0;
  outline: none;
}

.header-middle{
  width: 700px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  justify-items: center;
  gap: 5px;
}

.icon-header-middle {
  cursor: pointer;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-header-middle:hover{
  background-color: rgb(240, 237, 237);

}

.header-right{
  flex: 1;
  display: flex;
  justify-content: right;
  align-items: center;
  margin-right: 5px;
}

.icon-menu, .icon-messages, .icon-notifications, .icon-account{
  background-color: rgb(240, 237, 237);
  border-radius: 20px;
  font-size: 20px;
  padding: 12px;
  cursor: pointer;
  margin-right: 5px;
}

.icon-home {
  position: relative;
  color: rgb(36, 117, 248);
}

.icon-home .chosen-underline{
  display: block;
  height: 3px;
  background-color: rgb(36, 117, 248);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

main{
  background-color: rgb(240, 242, 245);
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  gap: 25px;
  height: 100%;
}
.sidebar-left{
  flex: 1;
  position: sticky;
  top: 55px;
  align-self: flex-start; 
  display: flex;
}

.sidebar-right{
  flex: 1;
  position: sticky;
  top: 55px;
  align-self: flex-start;
  display: flex;
}

.feed{
  width: 700px;
  margin-right: 5px;
}

.left-empty, .right-empty{
  flex: 1;
}

.left-content, .right-content{
  width: 350px;
}

.sidebar-menu{
  border-bottom: 1px solid rgb(179, 179, 179);
  padding-bottom: 5px;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.sidebar-menu-item{
  flex: 1;
  padding: 10px 40px 10px 10px;
  cursor: pointer;
  margin-bottom: 2px;
  display: grid;
  grid-template-columns: 30px 1fr;
}

.sidebar-menu-item i{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;

}

.sidebar-menu-item span{
  font-size: 16px;
  font-weight: 600;
  margin-left: 10px;
  color: rgb(35, 35, 35);
}

.sidebar-menu-item:first-child{
  margin-top: 10px;
}

.sidebar-menu-item:hover{
  background-color: rgba(204, 204, 204, 0.286);
  border-radius: 12px;
}

.side-friends, .side-clock, .side-users, .side-tv{
  color: rgb(24, 135, 214);
}

.side-bookmark{
  color: rgb(163, 57, 233);
}

.sidebar-groups{
  padding-top: -10px;
  color: rgba(52, 52, 52, 0.577);
  font-size: 15px;

}

.sidebar-groups p{
  font-size: 16px;
  margin-left: 6px;
  font-weight: bold;
}

.group-item{
  height: 30px;
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 8px;
  justify-items: center;
  align-items: center;
  cursor: pointer;
  margin-bottom: 13px;
  font-weight: bold;
}

.group-item:hover{
  background-color: rgba(204, 204, 204, 0.286);
  border-radius: 12px;
}

.group-item img{
  width: 40px;
  border-radius: 5px;
}

.group-item i{
  font-size: 24px;
  padding: 13px;
  color: rgb(35, 35, 35);
}

.group-item p{
  flex: 5;
  padding-left: 10px;
  font-size: 14px;
  color: rgb(35, 35, 35);
  font-weight: 500;
}

.right-content{
  display: flex;
  flex-direction: column;
}

.advertisement{
  flex: 1;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgb(179, 179, 179);
}

.advertisement p{
  font-weight: 600;
  font-size: 18px;
  color: rgb(131, 131, 131);
  margin-bottom: 0;
}

.ad-item{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  cursor: pointer;
  margin-top: 10px;
}

.ad-item:last-child{
  margin-bottom: 10px;
}

.ad-item img{
  flex: 1;
  width: 140px;
  height: 70px;
  padding: 5px;
  border-radius: 20px;
}

.ad-text{
  flex: 2;
  padding: 10px;

}

.ad-text h3{
  font-size: 16px;
  color: rgb(90, 90, 90);
}

.ad-text p{
  font-size: 14px;
  margin-top: -10px;
  color: rgb(118, 118, 118);
  font-weight: normal;
}

.ad-item:hover{
  background-color: rgba(204, 204, 204, 0.286);
  border-radius: 20px;
}

.stories{
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  height: 250px;
  gap: 15px;
  margin-right: 15px;
  margin-left: 15px;
}

.story-container{
  flex: 1;
  flex-direction: column;
  cursor: pointer;
  position: relative;
}

.story-container::before, .story-container-mine::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(128, 128, 128, 0.5);
  opacity: 0;
  transition: opacity 0.1s;
  border-radius: 20px;
}

.story-container:hover::before, .story-container-mine:hover::before {
  opacity: 0.2;
  z-index: 1;
}

.stories p{
  font-size: 12px;
  margin-top: -30px;
  color: rgb(243, 243, 243);
  font-weight: bold;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  text-align: left;
  padding-left: 10px;
  text-wrap: wrap;
  overflow: hidden;
}

.story-container-mine{
  flex: 1;
  position: relative;
  cursor: pointer;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  border-radius: 18px;
}


.stories img{
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
  object-position: 50% 50%;
}


.story-container-mine p{
  background-color: white;
  border-radius: 18px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  color: rgb(90, 90, 90);
  font-weight: 500;
  font-size: 14px;
  text-shadow: none;;
  text-align: center;
  position: absolute;
  margin: 0;
  padding: 0;
  padding-bottom: 10px;
  width: 100%;
  height: 40px;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.story-container-mine i{
  position: absolute;
  bottom: 30px;
  left: 60px;
  color: rgb(36, 117, 248);
  background-color: white;
  border-radius: 20px;
  padding: 4px;
  font-size: 30px;


}

.post-container{
  display: flex;
  flex-direction: column;
  margin: 20px 15px;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 130px;
}

.post-input{
  height: 60px;
  display: flex;
  flex-direction: row;
  padding: 10px;
  align-items: center;
  padding-bottom: 2px;
}

.post-container-divider{
  height: 1px;
  border-bottom: 1px solid rgb(202, 202, 202);
  width: 95%;
  margin: 10px 0 10px 10px;
  
}

.post-input i{
  font-size: 17px;
  padding: 15px;
  background-color: rgb(240, 242, 245);
  border-radius: 50%;
  cursor: pointer;
}

.post-input input{
  flex: 1;
  border-width: 0;
  border-radius: 25px;
  padding: 12px;
  margin-left: 10px;
  font-size: 14px;
  outline: none;
  background-color: rgb(240, 242, 245);
  cursor: pointer;
}

.post-buttons{
  flex: 1;
  display: flex;
  flex-direction: row;
  gap: 2px;
  cursor: pointer;
  height: 30px;
  
}

.post-button{
  flex: 1;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  padding: 16px;

}

.post-button:first-child{
  margin-left: 10px;

}

.post-button:last-child{
  margin-right: 10px;

}

.post-button:hover{
  background-color: rgba(204, 204, 204, 0.286);
  border-radius: 7px;
}

.post-button i{
  padding-bottom: 15px;
  padding: 10px;
  font-size: 26px;
}

.post-button p{
  font-size: 13px;
  font-weight: 600;
  color: rgb(128, 128, 128);
  text-wrap: nowrap;
}



@media screen and (max-width: 1000px){
  .header-middle{
    display: none;
  }

  .feed{
    margin: 0 20%;
  }
 
  .sidebar-left, .sidebar-right{
    display: none;
  }
}