body{
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 3000px;
}

header{
  display: flex;
  height: 45px;
  flex-direction: row;
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  justify-content: space-between;
  background-color: white;
  z-index: 100;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-left{
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: left;
}

.icon-fb{
 width: 32px;
 margin-left: 15px;
 margin-right: 20px;
}

.icon-fb:hover{
  cursor: pointer;
}

.icon-search{
  background-color: rgb(240, 237, 237);
  padding: 5px;
  border-radius: 20px;
  z-index: 2;
  color:rgb(126, 126, 126);
  font-size: 13px;
}

.search-bar{
  background-color: rgb(240, 237, 237);
  margin-left: -35px;
  padding: 9px;
  padding-left: 35px;
  border-width: 0;
  border-radius: 20px;
  width: 180px;
  font-size: 12px;
}

.search-bar:focus {
  border-width: 0;
  outline: none;
}

.header-middle{
  width: 550px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  justify-items: center;
  gap: 5px;
}

.icon-header-middle {
  cursor: pointer;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-header-middle:hover{
  background-color: rgb(240, 237, 237);

}

.header-right{
  flex: 1;
  display: flex;
  justify-content: right;
  align-items: center;
  margin-right: 5px;
}

.icon-menu, .icon-messages, .icon-notifications, .icon-account{
  background-color: rgb(240, 237, 237);
  border-radius: 20px;
  padding: 10px;
  cursor: pointer;
  margin-right: 5px;
}

.icon-home {
  position: relative;
  color: rgb(36, 117, 248);
}

.icon-home .chosen-underline{
  display: block;
  height: 3px;
  background-color: rgb(36, 117, 248);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

main{
  background-color: rgb(240, 242, 245);
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  gap: 25px;
  height: 100%;
}
.sidebar-left{
  flex: 1;
  position: sticky;
  top: 45px;
  align-self: flex-start; 
  display: flex;
}

.sidebar-right{
  flex: 1;
  position: sticky;
  top: 45px;
  align-self: flex-start;
  display: flex;
}

.feed{
  width: 550px;
  margin-right: 5px;
  background-color: white;
}

.left-empty, .right-empty{
  flex: 1;
}

.left-content, .right-content{
  width: 300px;
}

.sidebar-menu{
  border-bottom: 1px solid rgb(179, 179, 179);
  padding-bottom: 5px;
  display: flex;
  flex-direction: column;
}

.sidebar-menu-item{
  flex: 1;
  padding: 10px 40px 10px 6px;
  cursor: pointer;
  margin-bottom: 2px;
  display: grid;
  grid-template-columns: 30px 1fr;
}

.sidebar-menu-item i{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
}

.sidebar-menu-item span{
  font-size: 12px;
  font-weight: bold;
  margin-left: 10px;
  color: rgb(86, 86, 86);
}

.sidebar-menu-item:first-child{
  margin-top: 10px;
}

.sidebar-menu-item:hover{
  background-color: rgba(204, 204, 204, 0.286);
  border-radius: 12px;
}

.side-friends, .side-clock, .side-users, .side-tv{
  color: rgb(24, 135, 214);
}

.side-bookmark{
  color: rgb(163, 57, 233);
}

.sidebar-groups{
  padding-top: -10px;
  color: rgba(77, 77, 77, 0.577);
  font-size: 15px;
  font-weight: bold;
}

.sidebar-groups p{
  font-size: 13px;
  margin-left: 6px;
}

.group-item{
  height: 30px;
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 8px;
  justify-items: center;
  align-items: center;
  cursor: pointer;
}

.group-item:hover{
  background-color: rgba(204, 204, 204, 0.286);
  border-radius: 12px;
}

.group-item img{
  width: 30px;
  border-radius: 5px;
}

.group-item p{
  flex: 5;
  padding-left: 10px;
  font-size: 12px;
  color: rgba(77, 77, 77, 0.887);
}

.right-content{
  display: flex;
  flex-direction: column;
}

.advertisement{
  flex: 1;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgb(179, 179, 179);
}
.ad-item{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  cursor: pointer;
}

.ad-item img{
  flex: 1;
  width: 140px;
  height: 70px;
  padding: 3px;
  border-radius: 20px;
}

.ad-text{
  flex: 2;
  padding: 10px;

}

.ad-text h3{
  font-size: 14px;
}

.ad-text p{
  font-size: 10px;
}

.ad-item:hover{
  background-color: rgba(204, 204, 204, 0.286);
  border-radius: 20px;
}

@media screen and (max-width: 1000px){
  .header-middle{
    display: none;
  }
  .feed{
    width: 100%;
  }
  .sidebar-left, .sidebar-right{
    display: none;
  }
}