body{
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 3000px;
}

header{
  display: flex;
  height: 45px;
  flex-direction: row;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  justify-content: space-between;
}

.header-left{
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: left;
}

.icon-fb{
 width: 32px;
 margin-left: 15px;
 margin-right: 20px;
}

.icon-fb:hover{
  cursor: pointer;
}

.icon-search{
  background-color: rgb(240, 237, 237);
  padding: 5px;
  border-radius: 20px;
  z-index: 2;
  color:rgb(126, 126, 126);
  font-size: 13px;
}

.search-bar{
  background-color: rgb(240, 237, 237);
  margin-left: -35px;
  padding: 9px;
  padding-left: 35px;
  border-width: 0;
  border-radius: 20px;
  width: 180px;
  font-size: 12px;
}

.search-bar:focus {
  border-width: 0;
  outline: none;
}

.header-middle{
  width: 550px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  justify-items: center;
  gap: 5px;
}

.icon-header-middle {
  cursor: pointer;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-header-middle:hover{
  background-color: rgb(240, 237, 237);

}

.header-right{
  flex: 1;
  display: flex;
  justify-content: right;
  align-items: center;
  margin-right: 5px;
}

.icon-menu, .icon-messages, .icon-notifications, .icon-account{
  background-color: rgb(240, 237, 237);
  border-radius: 20px;
  padding: 10px;
  cursor: pointer;
  margin-right: 5px;
}

.icon-home {
  position: relative;
  color: rgb(36, 117, 248);
}

.icon-home .chosen-underline{
  display: block;
  height: 3px;
  background-color: rgb(36, 117, 248);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}